.import-experience .experience-item {
  margin-bottom: 24px;
}

.import-experience .company-logo {
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin-right: 16px;
  float: left;
}

.import-experience .job-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.import-experience .company-name {
  font-size: 14px;
  margin-bottom: 4px;
}

.import-experience .job-duration {
  font-size: 14px;
  color: var(--linkedin-dark-gray);
  margin-bottom: 8px;
}

.import-experience .job-description {
  font-size: 14px;
  margin-left: 64px;
}