/**
 * @file centreblock.css
 * @description centreblock
 * @version 1.0
 * @author Tom Cranstoun
 *
 * @mx:category mx-tools
 * @mx:status active
 * @mx:contentType stylesheet
 * @mx:tags tool
 * @mx:partOf mx-os
 */

.centreblock > div{
    text-align: center;
    margin: 100px 0;
}

.centreblock > div h3 {
    display: inline-block;
    padding: 0.5rem;
}
