* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide-builder {
    display: flex; 
    flex-direction: column;
    width: 100%; 
}

.slide-builder-item {
    height: 600px; 
    object-fit: cover; 
    display: flex;
    align-items: flex-end;  /* Align content to the bottom */
    justify-content: flex-start; /* Align content to the left */
    margin-bottom: 25px; /* Add space between slides */
}

.slide-builder-item div { 
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 1em;
    margin: 1em;
}

.slide-builder-item h2 {
    margin: 0;
    font-weight: bold;
}

.slide-builder-item p {
    margin: 0;
}
