/* suppress nested section padding */
.fragment > .section {
  padding-left: 0;
  padding-right: 0;
}

.fragment > .section:first-of-type {
  padding-top: 0;
}

.fragment > .section:last-of-type {
  padding-bottom: 0;
}
