/**
 * @file react-slide-builder.css
 * @description react slide builder
 * @version 1.0
 * @author Tom Cranstoun
 *
 * @mx:category mx-tools
 * @mx:status active
 * @mx:contentType stylesheet
 * @mx:tags tool
 * @mx:partOf mx-os
 */
.react-slide-builder {
    width: 100%;
    min-height: 400px;
  }
  
  .react-slide-builder #react-slide-app {
    width: 100%;
  }
  