.styleguide-footer {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #4C4C4C;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a, .social-icon {
  color: white;
  text-decoration: none;
}

.footer-links a:hover, .social-icon:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icon {
  padding: 0.5rem;
  background-color: #333;
  border-radius: 4px;
}