/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
    /* colors */
    --link-color: #035fe6;
    --link-hover-color: #136ff6;
    --background-color: #fff;
    --overlay-background-color: #eee;
    --highlight-background-color: #ccc;
    --text-color: #000;
    --brand-highlight-color: lightblue;
    --color-white: #fff;
    --bg-color-grey: #e8e8e8;
    --color-font-grey: #2c2c2c;
    --color-black: #000;


    /* fonts */
    --body-font-family: roboto, roboto-fallback;
    --heading-font-family: var(--body-font-family);
    --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

    /* body sizes */
    --body-font-size-m: 22px;
    --body-font-size-s: 18px;
    --body-font-size-xs: 16px;

    /* heading sizes */
    --heading-font-size-xxl: 48px;
    --heading-font-size-xl: 40px;
    --heading-font-size-l: 32px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;

    /* nav height */
    --nav-height: 64px;

    --spacing-s: 24px;
    --spacing-xxs: 8px;
    --spacing-xs: 16px;
    --spacing-xxxs: 4px;
    --spacing-m: 32px;
    --spacing-ml: 40px;
    --card-border-radius-l: 12px;
    --input-border-radius: 4px;
    --image-filter-drop-shadow-small: drop-shadow(10px 25px 50px rgba(0 0 0 / 10%));
    --type-heading-m-size: 20px;
    --type-body-s-size: 16px;
    --type-body-s-lh: 1.5;
    --type-body-xxs-size: 12px;
    --type-body-xxs-lh: 1.5;



       /* Techem */
       --color-foreground: #202020;
       --color-background: #ffffff;
       --color-foreground-header: #222222;
       --color-separator: #c8c8c8;
       --color-link: #2020e0;
       --color-grey: #f3f3f3;
       --color-border: #979797;
       --color-dark-grey: #4c4c4c;
       --color-light-grey: #85888C;
       --color-border-key: #e0e2ea;
       --color-headline-red: #e20613;
       --color-divider-line: #ddd;

       /* // == Typography base */
       --font-universe-roman: "UniversLTW02-55Roman", "UniversLTCYRW10-55Roman";
       --font-universe-roman-bold: "UniversLTW02-65Bold", "UniversLTCYRW10-65Bold";

       /* Headings desktops */
       --body-size:                     1 * 1rem;
       --font-size-h1:                  3  * 1rem;
       --font-size-h2:                  2.5  * 1rem;
       --font-size-h3:                  2  * 1rem;
       --font-size-h4:                  1.5 * 1rem;
       --font-size-h5:                  1.25 * 1rem;
       --font-size-h6:                  1.125  * 1rem;

       /* Line Heights desktops */
       --line-height-body:              1.5 * 1rem;
       --line-height-small:             1.25 * 1rem;
       --line-height-smaller:           1.125 * 1rem;
       --line-height-meta:              1 * 1rem;

       --line-height-xxl:               23.75 * 1rem;
       --line-height-xl:                11.25 * 1rem;
       --line-height-h1:                4 * 1rem;
       --line-height-h2:                3.5 * 1rem;
       --line-height-h3:                3 * 1rem;
       --line-height-h4:                2 * 1rem;
       --line-height-h5:                1.875 * 1rem;
       --line-height-h6:                1.75 * 1rem;

  }

  @font-face {
    font-family: roboto-fallback;
    size-adjust: 100.06%;
    ascent-override: 95%;
    src: local('Arial');
  }


  @media (min-width: 900px) {
    :root {
      --heading-font-size-xxl: 60px;
      --heading-font-size-xl: 48px;
      --heading-font-size-l: 36px;
      --heading-font-size-m: 30px;
      --heading-font-size-s: 24px;
      --heading-font-size-xs: 22px;
    }
  }

  body {
    font-size: var(--body-size);
    margin: 0;
    font-family: var(--body-font-family);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    display: none;
    overflow-x: hidden;
    /* padding: 10px; */
    /* margin:20px */
  }

  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 64px 16px;
}

body {
    padding: 5px;
}

  body.appear {
    display: block;
      }

  header {
    height: var(--nav-height);
  }

  h1, h2, h3,
  h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: 600;
    line-height: 1.25;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    scroll-margin: calc(var(--nav-height) + 1em);
  }

  h1 { font-size: var(--heading-font-size-xxl) }
  h2 { font-size: var(--heading-font-size-xl) }
  h3 { font-size: var(--heading-font-size-l) }
  h4 { font-size: var(--heading-font-size-m) }
  h5 { font-size: var(--heading-font-size-s) }
  h6 { font-size: var(--heading-font-size-xs) }

  p, dl, ol, ul, pre, blockquote {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: 0;
    border-bottom: 1px solid var(--overlay-background-color);
  }

  code, pre, samp {
    font-family: var(--fixed-font-family);
    font-size: var(--body-font-size-s);
  }

  code, samp {
    padding: .125em;
  }

  pre {
    overflow: scroll;
  }

  main pre {
    background-color: var(--overlay-background-color);
    padding: 1em;
    border-radius: .25em;
    overflow-x: auto;
    white-space: pre;
  }

  a:any-link {
    color: var(--link-color);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
  }

  /* buttons */
  a.button:any-link, button {
    font-family: var(--body-font-family);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 0.75rem 3rem;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--link-color);
    margin: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 30px;
    /* Techem */
    background: #fff;
    color: #e20613;
    border: 2px solid #e20613;
    margin-left: 2.25rem;
  }

  a.button:hover, a.button:focus, button:hover, button:focus  {
    background-color: var(--link-hover-color);
    cursor: pointer;
  }

  button:disabled, button:disabled:hover {
    background-color: var(--overlay-background-color);
    cursor: unset;
  }

  a.button.secondary, button.secondary {
    background-color: unset;
    border: 2px solid currentcolor;
    color: var(--text-color)
  }

  main input {
    font-size: 1.25rem;
    width: 100%;
    max-width: 50rem;
    display: block;
    margin-bottom: 1rem;
    padding: 0.75rem 0.6rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--background-color);
  }

  main input:hover {
    border: 1px solid var(--text-color);
  }

  main blockquote {
    font-style: italic;
    margin: 3rem;
    text-indent: -1rem;
    hanging-punctuation: first;
  }

  main blockquote p::before {
    content: "“";
    line-height: 0;
  }

  main blockquote p::after {
    content: "”";
    line-height: 0;
  }

  main img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .icon {
    display: inline-block;
    height: 24px;
    width: 24px;
  }

  .icon img {
    height: 100%;
    width: 100%;
  }

  main .section {
    /* padding: 64px 16px; */
  }

  @media (min-width: 600px) {
    main .section {
      /* padding: 64px 32px; */
    }
  }

  @media (min-width: 900px) {
    .section > div {
      max-width: 1200px;
      margin: auto;
    }
  }

  /* section metadata */
  main .section.highlight {
    background-color: var(--highlight-background-color);
  }
